Python Booleans

In [102]:
print(15 > 12)
print(15 == 12)
print(15 < 12)

True
False
False

In [104]:
a = 49
b = 22

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [106]:
#The bool() function allows you to evaluate any value, and give you True or False in return
print(bool("HAHA YOU THINK IT IS FUNNY?"))
print(bool(1))

True
True

In [108]:
x = "top"
y = 14

print(bool(x))
print(bool(y))

True
True

In [110]:
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.
bool("abcdsadsada")
bool(123456521)
bool(["1st", "2nd", "3rd"])

True

In [112]:
#In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, 
#and the value None. And of course the value False evaluates to False.
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [22]:
#One more value, or object in this case, evaluates to False, and that is if you have an object that is made 
#from a class with a __len__ function that returns 0 or False
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [24]:
def myFunction() :
  return True

print(myFunction())

True

In [114]:
#Print "YES!" if the function returns True, otherwise print "NO!"
def myobject() :
  return True

if myobject():
  print("YES!")
else:
  print("NO!")

YES!

In [120]:
#Check if an object is an integer or not
x = "AD"
print(isinstance(x, int))

False

Python Operators

In [122]:
#In the example below, we use the + operator to add together two values
print(10000 + 5)

10005

In [43]:
#+	Addition	x + y	
#-	Subtraction	x - y	
#*	Multiplication	x * y	
#/	Division	x / y	
#%	Modulus	x % y	
#**	Exponentiation	x ** y	
#//	Floor division	x // y

In [45]:
#=	                 x = 5	                 x = 5	
#+=	                 x += 3	                 x = x + 3	
#-=	                 x -= 3	                 x = x - 3	
#*=	                 x *= 3	                 x = x * 3	
#/=	                 x /= 3	                 x = x / 3	
#%=	                 x %= 3	                 x = x % 3	
#//=	             x //= 3	             x = x // 3	
#**=	             x **= 3	             x = x ** 3	
#&=	                 x &= 3	                 x = x & 3	
#|=	                 x |= 3	                 x = x | 3	
#^=	                 x ^= 3	                 x = x ^ 3	
#>>=	             x >>= 3	             x = x >> 3	
#<<=	             x <<= 3	             x = x << 3	
#:=	                 print(x := 3)	         x = 3
#                                            print(x)

In [47]:
#==	Equal	x == y	
#!=	Not equal	x != y	
#>	Greater than	x > y	
#<	Less than	x < y	
#>=	Greater than or equal to	x >= y	
#<=	Less than or equal to	x <= y

In [49]:
#and 	Returns True if both statements are true	x < 5 and  x < 10	
#or	Returns True if one of the statements is true	x < 5 or x < 4	
#not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [51]:
#is 	Returns True if both variables are the same object	x is y	
#is not	Returns True if both variables are not the same object	x is not y

In [59]:
x=15
y=15
x is y

True

In [61]:
x=15
y=14
x is y

False

In [63]:
#in 	Returns True if a sequence with the specified value is present in the object	x in y	
#not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [69]:
#& 	AND	Sets each bit to 1 if both bits are 1	x & y	
#|	OR	Sets each bit to 1 if one of two bits is 1	x | y	
#^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y	
#~	NOT	Inverts all the bits	~x	
#<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2	
#>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

In [124]:
print((9 + 3) - (6 + 3))

3

In [126]:
#Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:
print(1 + 5 * 3)

16

In [128]:
#Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right
print(8 + 2 - 45 + 3)

-32

Python Lists

In [130]:
thislist = ["a", "b", "c"]
print(thislist)

['a', 'b', 'c']

In [132]:
#Lists allow duplicate values
thislist = ["a", "b", "c", "a", "c"]
print(thislist)

['a', 'b', 'c', 'a', 'c']

In [134]:
#Print the number of items in the list
thislist = ["a", "b", "c"]
print(len(thislist))

3

In [136]:
#List items can be of any data type 
#String, int and boolean data types
list1 = ["a", "b", "c"]
list2 = [18, 55, 71, 94, 3]
list3 = [True, False, False]

In [138]:
#A list can contain different data types
#A list with strings, integers and boolean values
list1 = ["absaSc", 3454, True, 4022, "male"]

In [92]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [140]:
#It is also possible to use the list() constructor when creating a new list
thislist = list(("a", "b", "c")) # note the double round-brackets
print(thislist)

['a', 'b', 'c']

Access List Items

In [142]:
thislist = ["a", "b", "c"]
print(thislist[1])

b

In [144]:
thislist = ["a", "b", "c"]
print(thislist[-1])

c

In [146]:
thislist = ["a", "b", "c", "d", "e", "f", "g"]
print(thislist[2:5])

['c', 'd', 'e']

In [150]:
#This example returns the items from the beginning to, but NOT including, "k"
thislist = ["a", "b", "c", "o", "k", "m", "m"]
print(thislist[:4])

['a', 'b', 'c', 'o']

In [157]:
#This example returns the items from "c" to the end
thislist = ["a", "b", "c", "o", "k", "m", "m"]
print(thislist[2:])

['c', 'o', 'k', 'm', 'm']

In [161]:
#This example returns the items from "o" (-4) to, but NOT including "n" (-1)
thislist = ["a", "b", "c", "o", "k", "m", "n"]
print(thislist[-4:-1])

['o', 'k', 'm']

In [165]:
#Check if "a" is present in the list
thislist = ["a", "b", "c"]
if "a" in thislist:
  print("Yes, 'a' is in the letter list")

Yes, 'a' is in the letter list

Change List Items

In [167]:
#To change the value of a specific item, refer to the index number
thislist = ["a", "b", "c"]
thislist[1] = "d"
print(thislist)

['a', 'd', 'c']

In [171]:
#To change the value of items within a specific range, define a list with the new values, 
#and refer to the range of index numbers where you want to insert the new values
thislist = ["a", "b", "c", "o", "k", "m"]
thislist[1:3] = ["d", "f"]
print(thislist)

['a', 'd', 'f', 'o', 'k', 'm']

In [175]:
#If you insert more items than you replace, the new items will be inserted where you specified, 
#and the remaining items will move accordingly
thislist = ["a", "b", "c"]
thislist[1:2] = ["d", "e"]
print(thislist)

['a', 'd', 'e', 'c']

In [179]:
#If you insert less items than you replace, the new items will be inserted where you specified, 
#and the remaining items will move accordingly
thislist = ["a", "b", "c"]
thislist[1:3] = ["w"]
print(thislist)

['a', 'w']

In [183]:
#The insert() method inserts an item at the specified index
thislist = ["a", "b", "c"]
thislist.insert(2, "w")
print(thislist)

['a', 'b', 'w', 'c']

Add List Items

In [189]:
#To add an item to the end of the list, use the append() method
thislist = ["a", "b", "c"]
thislist.append("o")
print(thislist)

['a', 'b', 'c', 'o']

In [373]:
thislist = ["a", "b", "c"]
thislist.insert(1, "o")
print(thislist)

['a', 'o', 'b', 'c']

In [199]:
#To append elements from another list to the current list, use the extend() method
l0 = ["a", "b", "c"]
l1 = ["m", "p", "d"]
l0.extend(l1)
print(l0)

['a', 'b', 'c', 'm', 'p', 'd']

In [207]:
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)
list = ["a", "b", "c"]
tuple = ("k", "o")
list.extend(tuple)
print(list)

['a', 'b', 'c', 'k', 'o']

Remove List Items

In [211]:
#The remove() method removes the specified item
thislist = ["a", "b", "c"]
thislist.remove("b")
print(thislist)

['a', 'c']

In [217]:
#If there are more than one item with the specified value, the remove() method removes the first occurrence
thislist = ["a", "b", "c", "b", "k"]
thislist.remove("b")
print(thislist)

['a', 'c', 'b', 'k']

In [219]:
#The pop() method removes the specified index
thislist = ["a", "b", "c"]
thislist.pop(1)
print(thislist)

['a', 'c']

In [223]:
#If you do not specify the index, the pop() method removes the last item
thislist = ["a", "b", "c"]
thislist.pop()
print(thislist)

['a', 'b']

In [225]:
#The del keyword also removes the specified index
thislist = ["a", "b", "c"]
del thislist[0]
print(thislist)

['b', 'c']

In [229]:
#The del keyword can also delete the list completely
thislist = ["apple", "banana", "cherry"]
del thislist

In [233]:
#The clear() method empties the list
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Lists

In [235]:
#You can loop through the list items by using a for loop
thislist = ["a", "b", "c"]
for x in thislist:
  print(x)

a
b
c

In [241]:
#You can also loop through the list items by referring to their index number.
#Use the range() and len() functions to create a suitable iterable
thislist = ["a", "b", "c"]
for i in range(len(thislist)):
  print(thislist[i])

a
b
c

In [245]:
#You can loop through the list items by using a while loop
thislist = ["a", "b", "c"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

a
b
c

In [265]:
#A short hand for loop that will print all items in a list
thislist = ["a", "b", "c"]
[print(x) for x in thislist]

a
b
c

[None, None, None]

List Comprehension

In [273]:
listletter = ["aa", "ba", "c", "ka", "m"]
new = []
for x in listletter:
  if "a" in x:
    new.append(x)
print(new)

['aa', 'ba', 'ka']

In [295]:
#With list comprehension you can do all that with only one line of code
letters = ["a", "ba", "c", "k", "ma"]
newlist = [x for x in letters if "a" in x]
print(newlist)

['a', 'ba', 'ma']

In [279]:
#newlist = [expression for item in iterable if condition == True]

In [297]:
#The condition is like a filter that only accepts the items that evaluate to True
#Only accept items that are not "a"
newlist = [x for x in letters if x != "a"]

In [299]:
#The condition if x != "a"  will return True for all elements other than "a", 
#making the new list contain all letters except "a".

In [289]:
#You can use the range() function to create an iterable
newlist = [x for x in range(10)]

In [301]:
#The expression is the current item in the iteration, but it is also the outcome, 
#which you can manipulate before it ends up like a list item in the new list
#Set the values in the new list to upper case:
newlist = [x.upper() for x in letters]

Sort lists

In [303]:
#List objects have a sort() method that will sort the list alphanumerically, ascending, by default
#Sort the list alphabetically
thislist = ["o", "m", "k", "p", "b"]
thislist.sort()
print(thislist)

['b', 'k', 'm', 'o', 'p']

In [307]:
#Sort the list numerically
thislist = [115, 4, 5, 8552, 243]
thislist.sort()
print(thislist)

[4, 5, 115, 243, 8552]

In [311]:
#Sort the list descending
thislist = ["o", "m", "k", "p", "b"]
thislist.sort(reverse = True)
print(thislist)

['p', 'o', 'm', 'k', 'b']

In [313]:
#Sort the list descending
thislist = [115, 4, 5, 8552, 243]
thislist.sort(reverse = True)
print(thislist)

[8552, 243, 115, 5, 4]

In [317]:
#Sort the list based on how close the number is to 50
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [323]:
#By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters
#Case sensitive sorting can give an unexpected result
thislist = ["b", "O", "K", "c"]
thislist.sort()
print(thislist)

['K', 'O', 'b', 'c']

In [325]:
thislist = ["b", "O", "K", "c"]
thislist.sort(key = str.lower)
print(thislist)

['b', 'c', 'K', 'O']

In [329]:
#The reverse() method reverses the current sorting order of the elements
thislist = ["b", "O", "K", "c"]
thislist.reverse()
print(thislist)

['c', 'K', 'O', 'b']

Copy lists

In [335]:
#Make a copy of a list with the copy() method
thislist = ["a", "b", "c"]
mylist = thislist.copy()
print(mylist)

['a', 'b', 'c']

In [349]:
#Make a copy of a list with the : operator
thislist = ["a", "b", "c"]
mylist = thislist[:]
print(mylist)

['a', 'b', 'c']

Join Lists

In [358]:
#Join two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [360]:
#Another way to join two lists is by appending all the items from list2 into list1, one by one
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [364]:
#you can use the extend() method, where the purpose is to add elements from one list to another list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

List Methods

In [369]:
#append()	 Adds an element at the end of the list
#clear()	 Removes all the elements from the list
#copy()	     Returns a copy of the list
#count()	 Returns the number of elements with the specified value
#extend()	 Add the elements of a list (or any iterable), to the end of the current list
#index()	 Returns the index of the first element with the specified value
#insert()	 Adds an element at the specified position
#pop()	     Removes the element at the specified position
#remove()	 Removes the item with the specified value
#reverse()	 Reverses the order of the list
#sort()	     Sorts the list

Python Tuples

In [386]:
#Tuples are used to store multiple items in a single variable.
thistuple = ("a", "b", "c")
print(thistuple)

('a', 'b', 'c')

In [392]:
#Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
#When we say that tuples are ordered, it means that the items have a defined order, and that order will not change
#Since tuples are indexed, they can have items with the same value

In [394]:
thistuple = ("a", "b", "c", "a", "c")
print(thistuple)

('a', 'b', 'c', 'a', 'c')

In [396]:
#To determine how many items a tuple has, use the len() function
thistuple = ("a", "b", "c")
print(len(thistuple))

3

In [400]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple
thistuple = ("a",)
print(type(thistuple))
#NOT a tuple
thistuple = ("a")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [402]:
#Tuple items can be of any data type
tuple1 = ("a", "b", "c")
tuple2 = (1, 54, 723, 95, 3)
tuple3 = (True, False, False)

In [404]:
#A tuple can contain different data types
tuple1 = ("abc", 34, True, 4045, "female")

In [408]:
mytuple = ("a", "b", "c")
print(type(mytuple))

<class 'tuple'>

Access Tuple Items

In [417]:
#You can access tuple items by referring to the index number, inside square brackets
thistuple = ("a", "b", "c")
print(thistuple[1])

b

In [421]:
#Negative indexing means start from the end.
#-1 refers to the last item, -2 refers to the second last item etc.
thistuple = ("a", "b", "c")
print(thistuple[-1])

c

In [427]:
#You can specify a range of indexes by specifying where to start and where to end the range.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [429]:
#This example returns the items from the beginning to, but NOT included, "kiwi"
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [435]:
#This example returns the items from "cherry" and to the end
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [439]:
#This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [441]:
#to determine if a specified item is present in a tuple use the in keyword
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Update Tuples

In [ ]:
#Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

In [ ]:
#Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.
# 1.Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), 
# and convert it back into a tuple.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
#2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), 
#create a new tuple with the item(s), and add it to the existing tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
#The del keyword can delete the tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

Unpack Tuples

In [455]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits = ("apple", "banana", "cherry")

In [457]:
#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [461]:
#If the number of variables is less than the number of values, you can add an * to the variable name 
#and the values will be assigned to the variable as a list:
#Assign the rest of the values as a list called "red"
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [463]:
#If the asterisk is added to another variable name than the last, Python will assign values to the variable 
#until the number of values left matches the number of variables left.
#Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

In [468]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [472]:
#Print all items by referring to their index number
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [470]:
#Print all items, using a while loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples

In [475]:
#To join two or more tuples you can use the + operator:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [479]:
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods

In [482]:
#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found

Python Sets

In [485]:
#Sets are written with curly brackets.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [489]:
#Set items are unordered, unchangeable, and do not allow duplicate values.
#Unordered means that the items in a set do not have a defined order.
#Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
#Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [491]:
#Sets cannot have two items with the same value.
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [495]:
#True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'apple', True, 2, 'banana', 'cherry'}

In [497]:
#False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{'apple', False, True, 'banana', 'cherry'}

In [499]:
#To determine how many items a set has, use the len() function.
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [501]:
#Set items can be of any data type:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [503]:
#A set can contain different data types:
set1 = {"abc", 34, True, 40, "male"}

In [505]:
#From Python's perspective, sets are defined as objects with the data type 'set':
#<class 'set'>
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
#it is also possible to use the set() constructor to make a set.
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [507]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

Access Set Items

In [510]:
#You cannot access items in a set by referring to an index or a key.
#But you can loop through the set items using a for loop, or ask 
#if a specified value is present in a set, by using the in keyword.
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [512]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [514]:
#Check if "banana" is NOT present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

Add Set Items

In [516]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [518]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'banana', 'papaya', 'pineapple', 'mango', 'cherry'}

In [520]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'orange', 'banana', 'kiwi', 'cherry'}

Remove Set Items

In [531]:
#Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [533]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [535]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [537]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

Loop Sets

In [542]:
#You can loop through the set items by using a for loop:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

Join Sets

In [545]:
#The union() method returns a new set with all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [547]:
#You can use the | operator instead of the union() method, and you will get the same result.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [549]:
#All the joining methods and operators can be used to join multiple sets.
#When using a method, just add more sets in the parentheses, separated by commas:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

{'apple', 1, 2, 3, 'John', 'bananas', 'Elena', 'a', 'c', 'b', 'cherry'}

In [551]:
#When using the | operator, separate the sets with more | operators:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4
print(myset)

{'apple', 1, 2, 3, 'John', 'bananas', 'Elena', 'a', 'c', 'b', 'cherry'}

In [553]:
#The union() method allows you to join a set with other data types, like lists or tuples.
#The result will be a set.
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [555]:
#The update() method inserts all items from one set into another.
#The update() changes the original set, and does not return a new set.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [557]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [559]:
#You can use the & operator instead of the intersection() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [561]:
#The intersection_update() method will also keep ONLY the duplicates,
#but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [563]:
#The values True and 1 are considered the same value. The same goes for False and 0.
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [565]:
#The difference() method will return a new set that will contain only the items from the first set 
#that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [567]:
#You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [569]:
#The difference_update() method will also keep the items from the first set that are not in the other set, 
#but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [571]:
#The symmetric_difference() method will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [573]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [575]:
#The symmetric_difference_update() method will also keep all but the duplicates, 
#but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'google', 'banana', 'cherry'}

Set Methods

In [578]:
#add()	 	                                Adds an element to the set
#clear()	 	                            Removes all the elements from the set
#copy()	 	                                Returns a copy of the set
#difference()	             -	            Returns a set containing the difference between two or more sets
#difference_update()	     -=	            Removes the items in this set that are also included in another, specified set
#discard()	 	                            Remove the specified item
#intersection()	              &	            Returns a set, that is the intersection of two other sets
#intersection_update()	      &=	        Removes the items in this set that are not present in other, specified set(s)
#isdisjoint()	 	                        Returns whether two sets have a intersection or not
#issubset()	                  <=	        Returns whether another set contains this set or not
# 	                          <	            Returns whether all items in this set is present in other, specified set(s)
#issuperset()	              >=	        Returns whether this set contains another set or not
# 	                          >	            Returns whether all items in other, specified set(s) is present in this set
#pop()	 	                                Removes an element from the set
#remove()	 	                            Removes the specified element
#symmetric_difference()	      ^	            Returns a set with the symmetric differences of two sets
#symmetric_difference_update()^=	        Inserts the symmetric differences from this set and another
#union()	                   |	        Return a set containing the union of sets
#update()	                  |=	        Update the set with the union of this set and others

Python Dictionaries

In [583]:
#Dictionaries are written with curly brackets, and have keys and values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [585]:
#Dictionary items are ordered, changeable, and do not allow duplicates.
#Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [587]:
#When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
#Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

In [589]:
#Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
#Dictionaries cannot have two items with the same key:

In [591]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [593]:
#To determine how many items a dictionary has, use the len() function:
print(len(thisdict))

3

In [595]:
#The values in dictionary items can be of any data type:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [599]:
#From Python's perspective, dictionaries are defined as objects with the data type 'dict':
#<class 'dict'>
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [ ]:
#It is also possible to use the dict() constructor to make a dictionary.
thisdict = dict(naIt is also possible to use the dict() constructor to make a dictionary.me = "John", age = 36, country = "Norway")
print(thisdict)

Access Items

In [602]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [604]:
#There is also a method called get() that will give you the same result:
x = thisdict.get("model")

In [606]:
#The keys() method will return a list of all the keys in the dictionary.
x = thisdict.keys()

In [610]:
#The list of the keys is a view of the dictionary, 
#meaning that any changes done to the dictionary will be reflected in the keys list.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [612]:
#The values() method will return a list of all the values in the dictionary.
x = thisdict.values()

In [614]:
#The list of the values is a view of the dictionary, 
#meaning that any changes done to the dictionary will be reflected in the values list.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [616]:
#Add a new item to the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["color"] = "red"
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [618]:
#The items() method will return each item in a dictionary, as tuples in a list.
x = thisdict.items()

In [620]:
#The returned list is a view of the items of the dictionary, 
#meaning that any changes done to the dictionary will be reflected in the items list.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [622]:
#Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) #before the change
car["color"] = "red"
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [624]:
#To determine if a specified key is present in a dictionary use the in keyword:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Items

In [627]:
#You can change the value of a specific item by referring to its key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [631]:
#The update() method will update the dictionary with the items from the given argument.
#The argument must be a dictionary, or an iterable object with key:value pairs.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Add Items

In [634]:
#Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [638]:
#The update() method will update the dictionary with the items from a given argument. 
#If the item does not exist, the item will be added.
#The argument must be a dictionary, or an iterable object with key:value pairs.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

Remove Items

In [643]:
#The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [645]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [647]:
#The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [698]:
#The del keyword can also delete the dictionary completely:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [651]:
#The clear() method empties the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Loop Dictionaries

In [656]:
#You can loop through a dictionary by using a for loop.
#When looping through a dictionary, the return value are the keys of the dictionary,
#but there are methods to return the values as well.
for x in thisdict:
  print(x)

In [660]:
#Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

In [662]:
#You can also use the values() method to return values of a dictionary:
for x in thisdict.values():
  print(x)

In [664]:
#You can use the keys() method to return the keys of a dictionary:
for x in thisdict.keys():
  print(x)

In [666]:
#Loop through both keys and values, by using the items() method:
for x, y in thisdict.items():
  print(x, y)

Copy Dictionaries

In [669]:
#You cannot copy a dictionary simply by typing dict2 = dict1, 
#because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.
#There are ways to make a copy, one way is to use the built-in Dictionary method copy().
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [671]:
#Another way to make a copy is to use the built-in function dict().
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

In [676]:
#A dictionary can contain dictionaries, this is called nested dictionaries.
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [680]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [684]:
#To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:
print(myfamily["child2"]["name"])

Tobias

In [686]:
#You can loop through a dictionary by using the items() method like this:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

Dictionary Methods

In [689]:
#clear()	     Removes all the elements from the dictionary
#copy()	         Returns a copy of the dictionary
#fromkeys()	     Returns a dictionary with the specified keys and value
#get()	         Returns the value of the specified key
#items()	     Returns a list containing a tuple for each key value pair
#keys()	         Returns a list containing the dictionary's keys
#pop()	         Removes the element with the specified key
#popitem()	     Removes the last inserted key-value pair
#setdefault()	 Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
#update()	     Updates the dictionary with the specified key-value pairs
#values()	     Returns a list of all the values in the dictionary

Python If...Else

In [692]:
#Equals:                    a == b
#Not Equals:                a != b
#Less than:                 a < b
#Less than or equal to:     a <= b
#Greater than:              a > b
#Greater than or equal to:  a >= b

In [694]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [700]:
#If statement, without indentation (will raise an error):
a= 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 4 (2455394165.py, line 5)

In [702]:
#The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [706]:
#The else keyword catches anything which isn't caught by the preceding conditions.
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")
#In this example a is equal to b, so the first condition is not true, 
#but the elif condition is true, so we print to screen that "a and b are equal".

a is greater than b

In [708]:
#The else keyword catches anything which isn't caught by the preceding conditions.
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")
#In this example a is greater than b, so the first condition is not true, 
#also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

b is not greater than a

In [710]:
#You can also have an else without the elif:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [712]:
#If you have only one statement to execute, you can put it on the same line as the if statement.
if a > b: print("a is greater than b")

a is greater than b

In [714]:
#If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [716]:
#You can also have multiple else statements on the same line:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [718]:
#The and keyword is a logical operator, and is used to combine conditional statements:
#Test if a is greater than b, AND if c is greater than a:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [720]:
#The or keyword is a logical operator, and is used to combine conditional statements:
#Test if a is greater than b, OR if a is greater than c:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [722]:
#The not keyword is a logical operator, and is used to reverse the result of the conditional statement:
#Test if a is NOT greater than b:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [726]:
#You can have if statements inside if statements, this is called nested if statements.
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [734]:
#if statements cannot be empty, but if you for some reason have an if statement with no content, 
#put in the pass statement to avoid getting an error.
a = 33
b = 200
if b > a:
  pass

Python Whille Loops

In [739]:
#Python has two primitive loop commands:
#while loops
#for loops

In [741]:
#With the while loop we can execute a set of statements as long as a condition is true.
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [745]:
#With the break statement we can stop the loop even if the while condition is true:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [747]:
#With the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [749]:
#With the else statement we can run a block of code once when the condition no longer is true:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

In [752]:
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#This is less like the for keyword in other programming languages, and works more like an 
#iterator method as found in other object-orientated programming languages.
#With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [754]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [756]:
#Even strings are iterable objects, they contain a sequence of characters:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [758]:
#With the break statement we can stop the loop before it has looped through all the items:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [760]:
#Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [762]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [764]:
#To loop through a set of code a specified number of times, we can use the range() function,
#The range() function returns a sequence of numbers, starting from 0 by default, 
#and increments by 1 (by default), and ends at a specified number.
for x in range(6):
  print(x)

0
1
2
3
4
5

In [766]:
#The range() function defaults to 0 as a starting value, 
#however it is possible to specify the starting value by adding a parameter: range(2, 6), 
#which means values from 2 to 6 (but not including 6):
for x in range(2, 6):
  print(x)

2
3
4
5

In [768]:
#The range() function defaults to increment the sequence by 1, however it is possible to specify 
#the increment value by adding a third parameter: range(2, 30, 3):
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [770]:
#The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [772]:
#Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [774]:
#A nested loop is a loop inside a loop.
#The "inner loop" will be executed one time for each iteration of the "outer loop":
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [776]:
#for loops cannot be empty, but if you for some reason have a for loop with no content, 
#put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
  pass