1) Python Home

In [6]:
print("Eyes chico, they never lie")

Eyes chico, they never lie

2. Python Intro

In [7]:
print("The World is yours")

The World is yours

3. Python get started

In [9]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [11]:
print("Ronaldoo, goaalll!")

Ronaldoo, goaalll!

4. Python Syntax

 Identation

In [12]:
a = 8
b = 9 
if b<a:
    print("a is bigger than b")
else:
    print("b is bigger than a")

b is bigger than a

Variables

In [14]:
a = 21
b = "Berik"

Commenting

In [80]:
#in this way, we can comment
print("I have commented")

I have commented

Variable Names

In [16]:
ronaldo = "goal"
messi = "goal"
neymar = "goal"
zidane = "goal"

Assigning multiple values

In [17]:
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

In [18]:
a=b=c=8
print(a, b, c)

8 8 8

In [19]:
ages = [22, 33 ,44]
a, b, c = ages
print(a, b ,c)

22 33 44

Output variables

In [20]:
p = "Python is easy"
print(p)

Python is easy

In [21]:
a = "KBTU"
b = "is on"
c = "fire"
print(a, b, c)

KBTU is on fire

In [22]:
a = "KBTU"
b = "is on"
c = "fire"
print(a+b+c)

KBTUis onfire

In [23]:
#to avoid slipping words into one, we need to leave some space in the end of quotes like b = "RONALDOO "
a = "KBTU "
b = "is on "
c = "fire "
print(a+b+c)

KBTU is on fire

In [24]:
#also we can do the same thing with integers, but we cannot combine integers with strings because they have different data types
a = 4
b = 4
print(a+b)

8

Global variables

In [25]:
d = 15
def func():
    print(25 + d)
func()

40

In [29]:
d = 4
def func():
    d = 5
    print(25 + d)
func()
print(d*2)

30
8

In [ ]:
x = "it is mine"	#string	
x = 1	#integer	
x = 1.5	#float	
x = 4j	#complex	
x = ["men", "man", "women"]	#list	
x = ("hah", "heh", "ahaha")	#tuple	
x = range(2)	#range	
x = {"football" : "Ronaldo GOAT", "Goals" : 917}	#dictionary	
x = {"joke", "xex", "pol"}	#set	
x = frozenset({"You?", "You?", "you talking to me?"})	#frozenset	
x = True	#bool	
x = b"nechotam"	#bytes	
x = bytearray(10)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None	#NoneType

Numbers

In [31]:
#our output will show all number types in python
b = 5
a = 4j
d = 2.9
print(type(b)," Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.")
print(type(a), " Complex numbers are written with a (j) as the imaginary part")
print(type(d), " Float, or (floating point number) is a number, positive or negative, containing one or more decimals.")

<class 'int'>  Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
<class 'complex'>  Complex numbers are written with a (j) as the imaginary part
<class 'float'>  Float, or (floating point number) is a number, positive or negative, containing one or more decimals.

In [33]:
b = 5
a = 4j
d = 2.9
x = float(b) #int to float
y = int(d) #float to int
z = complex(b) #from int to complex, !!! but complex to int isnt possible
print(x ,y ,z)
print(type(x))
print(type(y))
print(type(z))

5.0 2 (5+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random Number

In [34]:
#creating random numbers
import random
for i in range(5,10):
    print(random.randrange(5, 10))

9
9
9
7
6

Casting python

In [41]:
x = int(5)   # x will be 5
y = int(3.9) # y will be 3
z = int("2") # z will be 2
print(x ,y ,z)

5 3 2

In [40]:
x = float(5)     # x will be 5.0
y = float(3.9)   # y will be 3.9
z = float("1")   # z will be 1.0
w = float("1.2") # w will be 1.2
print(x ,y ,z, w)

5.0 3.9 1.0 1.2

In [44]:
x = str("kbtu") # x will be 'kbtu'
y = str(4)    # y will be '4'
z = str(4.0)  # z will be '4.0'
print(x ,y ,z,)

kbtu 4 4.0

Python Strings

In [45]:
print("men")
print('men') #are the same

men
men

In [46]:
#you can use quotes if they`re not matching the surrounding one
print("I'm Berik")
print("we call him 'GOAT'")
print('we call him "GOAT"')

I'm Berik
we call him 'GOAT'
we call him "GOAT"

In [56]:
a = """DFILSJFLSIJFLSDJFLKSJFLSKDJFLKSDJLFKDSJFLKDSJFKLSDJFL
LFSLKDFMJSLKFDJSLDFJDSL
DKFNSLKFDNSLKFSDLN
DSFLSLDFJ
DFKLSNFLSKDNF
KDSFLNL
CLGDMLDK"""
print(a)

DFILSJFLSIJFLSDJFLKSJFLSKDJFLKSDJLFKDSJFLKDSJFKLSDJFL
LFSLKDFMJSLKFDJSLDFJDSL
DKFNSLKFDNSLKFSDLN
DSFLSLDFJ
DFKLSNFLSKDNF
KDSFLNL
CLGDMLDK

In [57]:
a = "HAHHAASD"
print(a[1])
print(len(a))
for i in a:
    print("My name is Slim Shady")

A
8
My name is Slim Shady
My name is Slim Shady
My name is Slim Shady
My name is Slim Shady
My name is Slim Shady
My name is Slim Shady
My name is Slim Shady
My name is Slim Shady

In [59]:
txt = "Cristiano Ronaldo is the best football player in the world"
print("Ronaldo" in txt)
if "is" in txt:
    print("Sure")
print("Messi" not in txt)
if "Messi" not in txt:
    print("39")

True
Sure
True
39

In [61]:
b = "HEEHEEHA"
print(b[0:5])

HEEHE

In [62]:
b = "HEEHEEHA"
print(b[:6])

HEEHEE

In [63]:
b = "HEEHEEHA"
print(b[6:])

HA

In [64]:
b = "HEEHEEHA"
print(b[-5:-2])

HEE

In [84]:
b = "heeheeha"
# upper()	Converts a string into upper case
print(b.upper())

HEEHEEHA

In [85]:
b = "HEEHEEHA"
# lower()	Converts a string into lower case
print(b.lower())

heeheeha

In [82]:
a = "        HEEHEEHA                  "
# strip()	Returns a trimmed version of the string
print(a.strip())

HEEHEEHA

In [83]:
a = "lamine"
# replace()	Returns a string where a specified value is replaced with a specified value
print(a.replace('l', 'p'))

pamine

In [81]:
a = "aye wassup"
# split()	Splits the string at the specified separator, and returns a list
print(a.split())

['aye', 'wassup']

In [74]:
age = 18
txt = f"My name is Berik, I am {age}"
print(txt)

My name is Berik, I am 18

In [76]:
price = 10
txt = f"{price:.2f}"
print(txt)

10.00

In [77]:
txt = f"{10**2}"
print(txt)

100

In [78]:
txt = "Hi, \"friend\" it is me"
print(txt)

Hi, "friend" it is me

In [79]:
#\'	Single Quote	
#\\	Backslash	
#\n	New Line	
#\r	Carriage Return	
#\t	Tab	
#\b	Backspace	
#\f	Form Feed	
#\ooo	Octal value	
#\xhh	Hex value

In [ ]:
# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# encode()	Returns an encoded version of the string
# endswith()	Returns true if the string ends with the specified value
# expandtabs()	Sets the tab size of the string
# find()	Searches the string for a specified value and returns the position of where it was found
# format()	Formats specified values in a string
# format_map()	Formats specified values in a string
# index()	Searches the string for a specified value and returns the position of where it was found
# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isascii()	Returns True if all characters in the string are ascii characters
# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isprintable()	Returns True if all characters in the string are printable
# isspace()	Returns True if all characters in the string are whitespaces
# istitle()	Returns True if the string follows the rules of a title
# isupper()	Returns True if all characters in the string are upper case
# join()	Joins the elements of an iterable to the end of the string
# ljust()	Returns a left justified version of the string
# lower()	Converts a string into lower case
# lstrip()	Returns a left trim version of the string
# maketrans()	Returns a translation table to be used in translations
# partition()	Returns a tuple where the string is parted into three parts
# replace()	Returns a string where a specified value is replaced with a specified value
# rfind()	Searches the string for a specified value and returns the last position of where it was found
# rindex()	Searches the string for a specified value and returns the last position of where it was found
# rjust()	Returns a right justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string
# split()	Splits the string at the specified separator, and returns a list
# splitlines()	Splits the string at line breaks and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	Returns a trimmed version of the string
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# title()	Converts the first character of each word to upper case
# translate()	Returns a translated string
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning